[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/yoran/Desktop/Timeline header]
row=1
col=2

[/home/yoran/Desktop/Universidad de Desarrollo - March.pdf]
row=0
col=2

[/home/yoran/Desktop/feedback-luke.txt]
row=4
col=0

[/home/yoran/Desktop/Design]
row=2
col=0

[/home/yoran/Desktop/eden-music.txt]
row=4
col=1

[/home/yoran/Desktop/Universidad de Desarrollo - March.odp]
row=5
col=1

[/home/yoran/Desktop/diet.txt]
row=3
col=0

[/home/yoran/Desktop/view-timeline.png]
row=3
col=1

[/home/yoran/Desktop/remove-student.png]
row=0
col=1

[/home/yoran/Desktop/omg.png]
row=1
col=1

[/home/yoran/Desktop/old-cloudfront.png]
row=2
col=2

[/home/yoran/Desktop/username.png]
row=2
col=1

[/home/yoran/Desktop/internap.txt]
row=5
col=0

[F064F66364F62C4A]
row=1
col=0

[/home/yoran]
row=0
col=0

