[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/yoran/Desktop/MyWeddingStory]
row=5
col=0

[/home/yoran/Desktop/Design]
row=3
col=0

[/home/yoran/Desktop/eden-music.txt]
row=0
col=1

[/home/yoran/Desktop/before.txt]
row=6
col=0

[/home/yoran/Desktop/todo-pierre.txt]
row=2
col=1

[/home/yoran/Desktop/diet.txt]
row=1
col=1

[/home/yoran/Desktop/chile-visa-eden.txt]
row=3
col=1

[/home/yoran/Desktop/Metrics]
row=4
col=0

[F064F66364F62C4A]
row=1
col=0

[WebrootInc]
row=2
col=0

[/home/yoran]
row=0
col=0

