[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/yoran/Desktop/Design]
row=2
col=0

[/home/yoran/Desktop/diet.txt]
row=3
col=0

[/home/yoran/Desktop/Doing_Business.pdf]
row=2
col=1

[/home/yoran/Desktop/todo-pierre.txt]
row=5
col=0

[/home/yoran/Desktop/eden-music.txt]
row=4
col=1

[F064F66364F62C4A]
row=1
col=0

[/home/yoran]
row=0
col=0

