[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/yoran/Desktop/Design]
row=2
col=0

[/home/yoran/Desktop/Eden]
row=4
col=0

[/home/yoran/Desktop/diet.txt]
row=3
col=0

[/home/yoran/Desktop/tailtoddle_lo.mp3]
row=6
col=0

[/home/yoran/Desktop/W7PRO.iso]
row=1
col=1

[/home/yoran/Desktop/Machine Learning]
row=5
col=0

[/home/yoran/Desktop/hstry copy paste.m4v]
row=2
col=1

[/home/yoran/Desktop/small.ogv]
row=0
col=1

[/home/yoran/Desktop/moocs.txt]
row=8
col=0

[/home/yoran/Desktop/coverage]
row=4
col=1

[/home/yoran/Desktop/start-tor-browser.desktop]
row=7
col=0

[F064F66364F62C4A]
row=1
col=0

[/home/yoran]
row=0
col=0

