[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/yoran/Desktop/diet.txt]
row=3
col=0

[/home/yoran/Desktop/todo.txt]
row=4
col=0

[/home/yoran/Desktop/todo-pierre.txt]
row=5
col=0

[/home/yoran/Desktop/todo-today.txt]
row=6
col=0

[F064F66364F62C4A]
row=1
col=0

[03F9-14EC]
row=2
col=0

[/home/yoran]
row=0
col=0

